@import url("https://fonts.googleapis.com/css2?family=Offside&family=Roboto&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
